<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0</TargetFramework>
    <PublishDir>$(MSBuildProjectDirectory)\publish\iis\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>
